{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}
    {% include "_partials/_admin_nav.html.twig" %}
    <h1 class="text-center">Liste des produits</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Catégorie</th>
                <th>Images</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price / 100 }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.category.name }}</td>
                <td class="flex space-x-1">
                    {% for image in product.images %}
                    <img
                        src="{{ asset('assets/uploads/products/mini/300x300-') ~ image.name }}"
                        class="thumbnail"
                        alt="{{ image.name }}"
                    >
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_admin_products_edit', {id: product.id}) }}">
                        Modifier
                    </a>
                </td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
{% endblock %}