{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}
    {% include "_partials/_admin_nav.html.twig" %}
    <h1 class="text-center">Liste des utilisateurs</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>E-mail</th>
                <th>Statut</th>
                <th>Rôles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ (user.isVerified) ? 'Vérifié(e)' : 'Non-vérifié(e)' }}</td>
                <td>
                    {% for role in user.roles %}
                    <span class="{{ role }}-badge">
                        {% if role == "ROLE_ADMIN" %}
                            Administrateur
                        {% elseif role == "ROLE_PRODUCT_ADMIN" %}
                            Admin. produits    
                        {% else %}
                            Utilisateur                        
                        {% endif %}
                    </span>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_admin_users_edit', {id: user.id}) }}">
                        Modifier
                    </a>
                </td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
{% endblock %}